
	<hr/>

	<div class="container">
	<!-- Footer -->
	<div class="row">
		<div class="col-md-12">
			<p><a href="{U_GPC_IMPRESSUM}">Impressum</a> | <a href="{U_CONTACT_US}">{L_CONTACT}</a></p>
		</div>
	</div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{GPC_STYLE_PATH}bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{GPC_STYLE_PATH}bootstrap/assets/ie10-viewport-bug-workaround.js"></script>

<script type="text/javascript">
function checkAdBlock() {
	setTimeout(function(){
		var ad = document.getElementById("psads").children;
		if(ad.length<=2)  {
			document.getElementById("psadsalternative").style.display="block";
		};
	}, 1000);
}
checkAdBlock();
</script>


  </body>
</html>

