					<li class="dropdown<!-- IF S_GPC_TUTORIALS_ACTIVE --> active<!-- ENDIF -->">
						<a href="{U_GPC_TUTORIALS}" class="dropdown-toggle" data-toggle="dropdown" target="_top">Tutorials <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{U_GPC_TUTORIALS}" target="_top">Alle Tutorials</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Tricks</li>
							<li><a href="#" target="_top">Alle</a></li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-star"></span> Einfach</a></li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> Mittel</a></li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> Schwer</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Pens</li>
							<li><a href="#" target="_top">Alle</a></li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-pencil"></span> Pen-Mods</a></li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-transfer"></span> Pen-Trading</a></li>
						</ul>
					</li>

