<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{GPC_STYLE_PATH}theme/images/favicon.ico">

    <title>GPC - German Penspinning Community</title>


    <!-- INCLUDE gpc_styles.html -->
  </head>
  <body role="document">

<!-- INCLUDE gpc_navbar.html -->
