<!-- INCLUDE header.html -->

	<div class="container theme-showcase" role="main">
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-8">
					<h1>Penspinning</h1>
					<p><em>&hellip; ist die Kunst einen Strift zu drehen</em>.</p>
					<p>In der GPC kannst du nicht nur sehen, was wir drauf haben, sondern kannst von unserer jahrelangen Erfahrung profitieren und in wenigen Tagen die Basics und andere faszinierende Tricks mit Stiften lernen.</p>
					<p><a href="{U_GPC_TUTORIALS}" class="btn btn-primary btn-lg" role="button">Zu den Tutorials &raquo;</a></p>
				</div>
			<div class="col-md-4">
				<h2>GPC's 2nd</h2>
				<div class="embed-responsive embed-responsive-4by3" id="front_video">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/yaeKRnwP7_I?rel=0" allowfullscreen></iframe>
				</div>
				<p><a class="btn btn-default" href="{U_GPC_VIDEOS}" role="button">Zu den Videos &raquo;</a></p>
			</div>
		</div>
	</div>

	<hr/>

    <!-- News -->
	<div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>PS Press</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Neuste Tutorials</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Neuste Videos</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
	</div>

<!-- INCLUDE footer.html -->
