<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{GPC_STYLE_PATH}theme/images/favicon.ico">

    <title>GPC - German Penspinning Community</title>

    <!-- INCLUDE gpc_styles.html -->
<style type="text/css">
body {background:none transparent;
padding-bottom:0;
padding-top:0;

}
.navbar{
margin-bottom:0;
}
</style>
  </head>
  <body role="document">

<!-- INCLUDE gpc_navbar.html -->
<!-- INCLUDE footer_bootstrap.html -->

	<script src="http://davidjbradshaw.com/iframe-resizer/js/iframeResizer.contentWindow.min.js"></script>
<script>

$('.dropdown').on('show.bs.dropdown', function () {
		$('body').height(5000);
});
$('.dropdown').on('shown.bs.dropdown', function () {
		$('body').height(5000);
});
$('.dropdown').on('hidden.bs.dropdown', function () {
		$('body').height(52);
});

$('#mainNavbar').on('show.bs.collapse', function () {
		$('body').height(5000);
});
$('#mainNavbar').on('shown.bs.collapse', function () {
		$('body').height(5000);
});
$('#mainNavbar').on('hidden.bs.collapse', function () {
		$('body').height(52);
});

</script>
</body>
</html>
