<link href="{GPC_STYLE_PATH}bootstrap/css/bootstrap.wrapped.css" rel="stylesheet" type="text/css">
<link href="{GPC_STYLE_PATH}bootstrap/css/bootstrap-theme.wrapped.css" rel="stylesheet" type="text/css">

<style>
body {padding:0}
.headerbar {display:none}

#mainNavbar {
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#mainNavbar.navbar {
	padding: 0px;
}
#mainNavbar .dropdown {
	position: static;
	left: auto;
	top: auto;
	z-index: auto;
	border: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
}
#mainNavbar .dropdown li {
	border-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 17.142858505249px !important;
}
#mainNavbar .dropdown li a {
	padding-top: 3px;
}
#mainNavbar .dropdown li.dropdown-header {
	font-size: 12px !important;
	padding-top: 3px;
	padding-bottom: 3px;
}
#wrap {
	margin-top: 50px;
}
</style>
