<!-- INCLUDE header.html -->

<div class="container">
<div class="row">
<div class="col-md-offset-1 col-md-10">


<h1>Pen Spinning FAQs</h1>

<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#what_is_ps" aria-controls="what_is_ps" role="tab" data-toggle="tab">Was ist Penspinning?</a></li>
    <li role="presentation"><a href="#why_ps" aria-controls="why_ps" role="tab" data-toggle="tab">Warum Penspinning?</a></li>
    <li role="presentation"><a href="#how_to_learn_ps" aria-controls="how_to_learn_ps" role="tab" data-toggle="tab">Wie kann ich Penspinning lernen?</a></li>
    <li role="presentation"><a href="#where_to_ask_about_ps" aria-controls="where_to_ask_about_ps" role="tab" data-toggle="tab">Wo kann ich Fragen stellen?</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="what_is_ps">
	    <h3>Was ist Penspinning?</h3>
	    <p>
		Penspinning (engl. Pen = Stift; to spin =  drehen) ist eine contact-juggling (kontakt-jonglieren) Sportart, bei der kleine Objekte, wie ein Stift oder ein Pinsel benutzt werden, um <a href="index.php?go=tricks" target="_self">Tricks</a> auszuf&uuml;hren.
		</p>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="why_ps">
		<h3>Warum Penspinning?</h3>
		<p>
		Auf den ersten Blick mag Penspinning keinen weiteren Zweck erf&uuml;llen, aber je mehr man sich mit der Thematik auseinandersetzt, desto &uuml;berzeugender werden die folgenden Argumente:
		</p>
		<ol><li>Der wohl wichtigste Grund ist, dass Penspinning die <b>Feinmotorik</b> bis ins kleinste Detail trainiert und perfektioniert.<br />
		Mit der Zeit entwickelt man sehr brauchbare F&auml;higkeiten:<br />
		Die absolute <b>Kontrolle</b> &uuml;ber Finger und die Hand selbst k&ouml;nnen durch einfaches Training dauerhaft erreicht werden.<br />
		Beispielsweise ein Magier kann bei seinen <b>Kartentricks</b> viel genauer arbeiten, wenn er sich &uuml;ber jede auch noch so kleine Bewegung seiner Finger <b>bewusst</b> ist.<br />
		Das gleiche gilt f&uuml;r Jongleure, die durch das <b>Trainieren des (Micro-)Zeitgef&uuml;hls</b> ihre Orientierung zwischen all den B&auml;llen verbessern k&ouml;nnen, da sie genauer einsch&auml;tzen k&ouml;nnen, <i>wann</i> <i>welcher</i> Ball <i>wo</i> ist.<br />
		Das Training des <b>Zeitgef&uuml;hls</b> kommt auch besonders <b>Musikern</b> zu gute, die durch Penspinning ihre <b>Genauigkeit</b> im Timing und bei der Artikulation der T&ouml;ne pr&auml;zisieren k&ouml;nnen.<br />
		Nicht zu vergessen ist die <b>Optimierung der Fingerbewegungen</b> (z.B. bei einem Pianisten).<br />
		Die <b>Reaktionsf&auml;higkeit</b> und auch die <b>Konzentrationsf&auml;higkeit</b> wird zudem verbessert, da es der vollen Konzentration bedarf den Stift nicht fallen zu lassen und falls er doch f&auml;llt, wird jeder versuchen ihn noch aufzufangen.<br />
		Von diesen F&auml;higkeiten profitiert dann zum Beispiel die Aufmerksamkeit und Reaktion im Verkehr.<br />
		Aber auch ein Kellner bekommt ein noch besseres <b>Balancegef&uuml;hl</b> und sp&uuml;rt die kleinste Ver&auml;nderung und ist sich auch deren Ausma&szlig;e bewusst, wenn nur eine Gabel verrutscht, da das Gef&uuml;hl f&uuml;r die minimalste Ver&auml;nderung im Gewicht oder der Balance durch Penspinning trainiert wird.<br />
		<br />
		Die H&auml;nde werden mit der  Zeit ruhiger und werden darauf trainiert, <b>nur noch die notwendigen Bewegungen</b> auszuf&uuml;hren, um eine Aktion zu vollziehen.<br />
		<br />
		Es gibt unz&auml;hlige weitere Beispiele, wer von Penspinning profitieren kann, die aber hier den Rahmen sprengen w&uuml;rden. <b>Genauigkeit und Pr&auml;zision</b> werden in s&auml;mtlichen Berufen und Hobbies verlangt und k&ouml;nnen durch Penspinning verbessert werden.<br />
		</li><li>Penspinning trainiert die <b> Ausdauer</b> und <b>Geduld</b> mit sich selbst. Penspinning erfodert sehr viel <b>&Uuml;bung</b>, aber motiviert mit jedem kleinen <b>Erfolg</b>, welche vorallem anfangs sehr schnell erreichbar sind, weiter zu machen und es immer wieder zu versuchen.<br />
		&Uuml;berall wo ein <b>Lernprozess</b> stattfindet wird man immer wieder auf <b>Misserfolge</b> treffen und man wird immer wieder zur&uuml;ckgeworfen. Penspinning kann hier zeigen, wie wichtig es ist, sich von diesen Dingen <b>nicht abschrecken</b> zu lassen, sondern sie zu nutzen und aus ihnen zu <b>lernen</b>.<br />
		Wer diese Lebensweisheit durch Penspinning erlernt, wird im Leben <b>leichter mit R&uuml;ckschl&auml;gen zurecht kommen</b> und sich nicht durch diese unterdr&uuml;cken lassen.<br />
		Es f&ouml;rdert die <b>Kreativit&auml;t</b>. Aus Erfahrung sieht man, dass immer wieder neue Tricks aufkommen, von denen man nichtmals getr&auml;umt h&auml;tte, weil irgendwer seine Finger aus einem noch anderen Licht gesehen hat (Es gibt mitlerweile &uuml;ber 200 (!) Tricks).<br />
		</li><li>Es liegt in der Natur des Menschen, seine H&auml;nde zu benutzen. Die F&auml;higkeit die Hand so <b>differenziert</b> einsetzen zu k&ouml;nnen, ist ein Punkt, der den <b>Unterschied zwischen Mensch und Tier</b> ausmacht. Diese besondere F&auml;higkeit sollten wir nutzen und weiterentwickeln.<br />
		</li><li>Durch den t&auml;glichen Kontakt mit Stiften kann man <b>&uuml;berall und zu jeder Zeit &uuml;ben</b>. Das Gelernte wird daher auch nicht vergessen. Das Wort Langweile hingegen kann vergessen werden und <b>Wartezeiten</b> k&ouml;nnen einfach &uuml;berbr&uuml;ckt werden. Dabei ist es egal ob man 10 Sekunden oder 2 Stunden wartet. Penspinning ist flexibel. Ein Stift ist klein und kann &uuml;berall hin mitgenommen werden.<br />
		</li><li>Als letzter Grund sei hier noch genannt, dass Penspinning einfach verbl&uuml;ffend aussieht, wenn es richtig gemacht wird.</li></ol>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="how_to_learn_ps">
    <h3>Wie kann ich Penspinning lernen?</h3>
	    <p>
		Allgemeine Tipps findest du bei den <a href="index.php?go=tipps" target="_self">Tipps</a>.<br />
		Tutorials zu einzelnen Tricks kannst Du in der <a href="index.php?go=tricks" target="_self">Tricks-Sektion</a> finden.
	    </p>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="where_to_ask_about_ps">
		<h3>Wo kann ich Fragen stellen?</h3>
		<p>
		Um Dir den Einstieg ins Forum zu erleichtern haben wir Dir die, f&uuml;r den Anfang am wichtigsten, Threads/Bereiche rausgesucht.
		</p>
		<p>
		Wenn Du Dich neu anmeldest, dann kannst Du zun&auml;chst nur in manchen Bereichen posten. Aber keine Panik! Du kannst s&auml;mtliche Fragen ohne Bedenken in diesem Bereich stellen: <a href="http://forum.penspinning.de/viewforum.php?f=62" target="_blank">Fragen, Fragen, Fragen...</a>.<br />
		(Z.B. <a href="http://forum.penspinning.de/viewtopic.php?f=62&amp;t=415" target="_blank">Wie hei&szlig;t dieser Trick?</a>)<br />
		Beachte, dass Beitr&auml;ge in diesem Bereich nach etwa 30 Tagen wieder gel&ouml;scht werden.<br />
		</p>
		<br />
		Nach einer gewissen Zeit werden Dir automatisch auch die Rechte zum Posten in den anderen Bereichen gegeben.<br />
		<br />
		Dadurch wird Dir der Einstieg erleichtert, da Du immer in dem <a href="http://forum.penspinning.de/viewforum.php?f=62" target="_blank">Fragen, Fragen, Fragen...</a> Bereich Deine Fragen stellen kannst, aber dennoch &uuml;berall lesen kannst und Dir die wichtigsten Tipps f&uuml;r den Anfang holen kannst.<br />
		<br />
		So kannst Du auf alle Bereiche zugreifen und mit der Zeit eine gute &Uuml;bersicht bekommen, wo was steht.<br />
		<br />
		In welchen Bereichen Du direkt los legen kannst, findest Du dort: <a href="http://forum.penspinning.de/viewtopic.php?f=14&amp;t=10765" target="_blank">Bereiche f&uuml;r neue User</a><br />
		<br />
		Generell solltest Du sp&auml;ter Deine Fragen zu den Tricks, in den entsprechenden Trick-Threads posten.<br />
		Eine &Uuml;bersicht, die auch jetzt schon f&uuml;r Dich interessant sein wird, findest Du dort: <strong><a href="http://forum.penspinning.de/viewtopic.php?t=41" target="_blank">Trick-Threads-&Uuml;bersicht</a></strong><br />
		<br />
		Hier die wohl wichtigsten <strong>Basic-Trick-Threads</strong> f&uuml;r den Anfang:<br />
		<a href="http://forum.penspinning.de/viewtopic.php?t=3280" target="_blank">ThumbAround Normal</a><br />
		<a href="http://forum.penspinning.de/viewtopic.php?t=1765" target="_blank">Sonic Normal</a><br />
		<a href="http://forum.penspinning.de/viewtopic.php?t=21" target="_blank">Charge Normal</a><br />
		<a href="http://forum.penspinning.de/viewtopic.php?t=1706" target="_blank">Fingerpass Normal/Reverse</a><br />
		<a href="http://forum.penspinning.de/viewtopic.php?t=25" target="_blank">Infinity Normal</a><br />
		<br />
		F&uuml;r <strong>Fragen zu Stiften</strong> ist der Bereich <a href="http://forum.penspinning.de/viewforum.php?f=8" target="_blank">Pens</a> da.<br />
		Eine sehr gute &Uuml;bersicht &uuml;ber diesen Bereich findest Du dort: <a href="http://forum.penspinning.de/viewtopic.php?f=8&amp;t=7786" target="_blank">Linksammlung zu allen Infos im Penbereich</a><br />
		<br />
		Hier zwei der wichtigsten Threads:<br />
		Der Thread zum Tintenkillermod - ein guter Anf&auml;ngerstift:<br />
		<a href="http://forum.penspinning.de/viewtopic.php?t=880" target="_blank">[Tutorial] Tintenkiller - Wenn schon dann richtig ...</a><br />
		<br />
		Da man &ouml;fters nicht so einfach an die Stifte kommt, gibt es einen ganzen Bereich, in welchem Du mit anderen Usern aus dem Forum Stifte tauschen kannst: <a href="http://forum.penspinning.de/viewforum.php?f=27" target="_blank">Pen-Trading</a><br />
		Wie das geht steht in unserem <a href="http://penspinning.de/index.php?go=pens&amp;kat=3" target="_blank">Trading-Guide</a>.<br />
		<br />
		Damit Dich die Community <strong>kennen lernen</strong> kann, gibt es den <a href="http://forum.penspinning.de/viewforum.php?f=13" target="_blank">Vorstellungsbereich</a> in welchem Du einen Thread aufmachen und Dich vorstellen kannst.<br />
		Die meisten User haben daf&uuml;r das <a href="http://forum.penspinning.de/viewtopic.php?t=85" target="_blank">Vorstellungsformular</a> benutzt, dass auch Du einfach kopieren kannst.<br />
		Tipps dazu, wie Du Neuigkeiten und Fortschritte von Dir richtig postest findest Du im <a href="http://forum.penspinning.de/viewtopic.php?t=138" target="_blank">Wie poste ich Neuigkeiten von mir?-Thread</a>.<br />
		<br />
		<br />
		<h4>Allgemeine Tipps und Hinweise zum Forum</h4><br />
		Hier die wichtigsten Dinge, um Probleme und Missverst&auml;ndnisse im Forum zu vermeiden:<br />
		<ol><li>Solltest Du eine Frage haben, suche vorher mit der <a href="http://forum.penspinning.de/search.php" target="_blank">Suchfunktion</a>, ob es dazu nicht schon einen Thread gibt. Sehr sehr viele Fragen wurden bereits beantwortet. :)<br />
		</li><li>Wenn Du Fragen zu einem bestimmten Trick hast, kannst Du auch die <a href="http://forum.penspinning.de/viewtopic.php?t=41" target="_blank">Trick Threads-&Uuml;bersicht</a> nutzen, um schneller den passenden Thread zu finden.<br />
		</li><li>Lies die als <span style="color:red; font-weight:bold">Wichtig!</span> markierten Threads in den verschiedenen Bereichen.<br />
		</li><li>Solltest Du Probleme oder Fragen zur Nutzung des Forums haben, kannst Du diese im Bereich <a href="http://forum.penspinning.de/viewforum.php?f=5" target="_blank">Konstruktive Kritik / Lob / technische Angelegenheiten</a> posten.<br />
		</li><li>Benutze die Editier-Funktion, falls Du mal etwas vergessen hast in Deinem Post zu erw&auml;hnen und Du diesem etwas hinzuf&uuml;gen m&ouml;chtest.<br />
		</li></ol><br />
		<br />
		Ansonsten solltest Du Dir unbedingt die <a href="http://forum.penspinning.de/viewtopic.php?t=688" target="_blank">Foren-Regeln</a> durchlesen und Dich bitte auch an diese halten, damit die &Uuml;bersicht und das Forenklima erhalten bleiben. Es kann sonst unter ung&uuml;nstigen Umst&auml;nden bis hin zur Sperrung Deines Accounts kommen. Aber wenn Du Dich an die Regeln h&auml;ltst, steht Deinem Weg als Penspinner nichts im Wege und wir helfen Dir gerne dabei, Dich schnell zu einem guten Penspinner zu entwickeln!<br />
		<br />
		<br />
		<strong><i>Wir w&uuml;nschen Dir viel Spa&szlig; beim Penspinnen und einen guten Einstieg in die Community!<br />
		Man liest sich... :)<br />
		<br />
		Gru&szlig;,<br />
		das GPC-Moderatoren Team.</i></strong><br />
		    
    </div>
</div>

</div>
</div>
</div>
</div>

<!-- INCLUDE footer.html -->
