
	<hr/>

	<div class="container">
	<!-- Footer -->
	<div class="row">
		<div class="col-md-12">
			<p><a href="{U_GPC_IMPRESSUM}">Impressum</a> | <a href="{U_CONTACT_US}">{L_CONTACT}</a></p>
		</div>
	</div>

    </div> <!-- /container -->


    <!-- INCLUDE footer_bootstrap.html -->

<script type="text/javascript">
function checkAdBlock() {
	setTimeout(function(){
		var ad = document.getElementById("psads").children;
		if(ad.length<=2)  {
			document.getElementById("psadsalternative").style.display="block";
		};
	}, 1000);
}
checkAdBlock();
</script>


  </body>
</html>

