					<li class="dropdown<!-- IF S_GPC_TUTORIALS_ACTIVE --> active<!-- ENDIF -->">
						<a href="{U_GPC_TUTORIALS}" class="dropdown-toggle" data-toggle="dropdown" target="_top">Tutorials <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li class="dropdown-header">Tricks</li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-th-large"></span> Alle</a></li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-book"></span> Anfänger-Tricks</a></li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-th"></span> Trick-Familien</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Pens</li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-th-large"></span> Alle</a></li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-book"></span> Anfänger-Pens</a></li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-th"></span> Pen-Familien</a></li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-transfer"></span> Pen-Trading</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Sonstige</li>
							<li><a href="/tutorials" target="_top"><span class="glyphicon glyphicon-book"></span> Beginner Guides</a></li>
							<li><a href="#" target="_top"><span class="glyphicon glyphicon-asterisk"></span> Sonstige</a></li>
						</ul>
					</li>

