<!-- INCLUDE header.html -->
<div class="container">
	<h1>Impressum</h1>
<div class="row">
<div class="col-md-4">
	<img src="{GPC_STYLE_PATH}theme/images/Robert_Heim.jpg" title="Robert Heim" alt="Robert Heim" style="-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;border:1px solid #000000;background:-webkit-box-shadow: #B3B3B3 10px 10px 10px;-moz-box-shadow: #B3B3B3 15px 15px 15px; box-shadow: #B3B3B3 10px 10px 10px;" />
</div>
<div class="col-md-4">
	<h2>Robert Heim</h2>
	<p>Alexanderstra&szlig;e 99<br />
	52062 Aachen<br />
	Telefon: +49 (0)176 646 27 439<br />
	mailto: <a href="mailto:&#114;&#111;&#98;&#101;&#114;&#116;&#64;&#112;&#101;&#110;&#115;&#112;&#105;&#110;&#110;&#105;&#110;&#103;&#46;&#100;&#101;">&#114;&#111;&#98;&#101;&#114;&#116;&#64;&#112;&#101;&#110;&#115;&#112;&#105;&#110;&#110;&#105;&#110;&#103;&#46;&#100;&#101;</a><br />
	Oder per <a href="{U_CONTACT_US}">Formular</a> &uuml;ber die Website.
	</p>

</div>
</div>
</div>
<!-- INCLUDE footer.html -->
