<!-- INCLUDE header.html -->
<!-- INCLUDEJS @gpc_main/../img_fader/img_fader.js -->
<!-- INCLUDECSS @gpc_main/../img_fader/img_fader.css -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>Penspinning</h1>
			<div class="row">
				<div class="col-md-8">
					<div id="img_fader" style="padding-bottom: 36%;">
						<!-- BEGIN ps_imgs --> 
						<img class="<!-- IF ps_imgs.NUMBER == 0 -->active<!-- ENDIF --> img-responsive img-rounded " src="{GPC_STYLE_PATH}/{ps_imgs.RELATIVE_URL}" />
						<!-- END ps_imgs -->
					</div>
					<p><em>&hellip; ist die Kunst einen Strift zu drehen</em>.</p>
					<p>Die <em>German Penspinning Community</em> (GPC) ist die deutsche Anlaufstelle zum Thema Penspinning. Du kannst von unserer jahrelangen Erfahrung profitieren und in wenigen Tagen die Basics und andere faszinierende Tricks mit Stiften lernen.</p>
					<p><a href="{U_GPC_TUTORIALS_TRICKS_FAMILIES}" class="btn btn-primary btn-lg" role="button">Zu den Tutorials &raquo;</a></p>
				</a>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default pen_families">
						<div class="panel-heading text-center">
							<h2 class="panel-title">Featured Video<br/>GPC's 2nd Collaboration Video</h2>
						</div>
						<a href="./community/viewtopic.php?f=2&amp;t=60">
							<img src="https://i.ytimg.com/vi/yaeKRnwP7_I/hqdefault.jpg" alt="GPC's 2nd Collaboration Video" class="img-responsive img-rounded center-block">
						</a>
						<div class="panel-footer">
							<p><a class="btn btn-default" href="{U_GPC_VIDEOS}" role="button">Zu den Videos &raquo;</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- INCLUDE werbung.html -->
			</div>
		</div>
      <div class="row">
        <div class="col-md-4">
          <h2>News</h2>
          <!-- BEGIN news -->
          <div>
          	<h3><span class="glyphicon glyphicon-bullhorn small"></span> {news.TITLE}</h3>
          	<p>{news.PREVIEW_TEXT} <a href="{news.URL}">weiter lesen &raquo;</a></p>
          </div>
          <!-- END news -->
        </div>
        <div class="col-md-4">
          <h2>Neuste Tutorials</h2>
          <!-- BEGIN tutorials -->
          <div>
          	<h3><span class="glyphicon glyphicon-book small"></span> {tutorials.TITLE}</h3>
          	<p>{tutorials.PREVIEW_TEXT} <a href="{tutorials.URL}">weiter lesen &raquo;</a></p>
          </div>
          <!-- END tutorials -->
          <p><a class="btn btn-default" href="{U_GPC_TUTORIALS_ALL}" role="button">Alle Tutorials &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Neuste Videos</h2>
          <!-- BEGIN videos -->
          <div>
          	<h3><span class="glyphicon glyphicon-film small"></span> {videos.TITLE}</h3>
          	<p>{videos.PREVIEW_TEXT} <a href="{videos.URL}">angucken &raquo;</a></p>
          </div>
          <!-- END videos -->
          <p><a class="btn btn-default" href="{U_GPC_VIDEOS}" role="button">Alle Videos &raquo;</a></p>
        </div>
      </div>
	</div>

<!-- INCLUDE footer.html -->
