<!-- INCLUDE header.html -->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Trick-Familien</h2>
			<p>
				Die Tricks beim Penspinning werden in sogenannte Trick-Familien eingeordnet ... blabla TODO 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		<div class="panel panel-default" style="width:310px;padding:0px">
		<div class="panel-heading" style="width:310px;padding:5px"><img src="http://wiki.penspinning.de/images/Ct_penmods.jpg"/></div>
		<div class="panel-body">		
			<h2 style="margin:0">Around</h2>
			<p>Arounds sind Tricks, bei denen sich der Stift durch einen Push im 90° Winkel zum jeweiligen Finger um diesen dreht.</p>
		</div>
		<div class="panel-footer">Zu den <a href="#">Around-Tricks »</a></div>
  </div>
		</div>
		<div class="col-md-4">Pass</div>
		<div class="col-md-4">Sonic</div>
	</div>
	<div class="row">
		<div class="col-md-4">Charge</div>
		<div class="col-md-4">Infinity</div>
		<div class="col-md-4">Spins</div>
	</div>
	<div class="row">
		<div class="col-md-4">Shadow</div>
		<div class="col-md-4">Artistic</div>
		<div class="col-md-4">Sonstige</div>
	</div>
</div>

<!-- INCLUDE footer.html -->
