<!-- INCLUDE header.html -->

<div class="container">
	<div class="row">
		<div class="col-md-7" style="padding-left:30px;">

			<h2>Trick-Familien</h2>
			<p>
				Die Tricks beim Penspinning sind in Trick-Familien eingeteilt. Jede
				Familie hat dabei ein besonderes Merkmal und es gibt meist einen
				Trick, von welchem sich die anderen ableiten lassen. Dieser Trick
				hat den selben Namen wie die Trick-Familie und kann auch mit dem
				Beisatz <em>normal</em> gekennzeichnet werden. Die Tutorials und weitere Details erhältst Du
				in der jeweiligen Trick-Familie.
			</p>

		</div>
		<div class="col-md-5">
			<div class="panel panel-default trick_families">
				<img src="{GPC_STYLE_PATH}/theme/images/tricks/ta_720x290.png" class="img-responsive img-rounded"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
</div>

<div class="container">
<!-- BEGIN trickcategories -->
	<!-- IF trickcategories.NUMBER % 3 == 0 -->
	<div class="row">
	<!-- ENDIF -->
		<div class="col-md-4">
			<div class="panel panel-default trick_family">
				<a href="{trickcategories.URL}">
					<img src="{GPC_STYLE_PATH}/{trickcategories.IMG}"
						class="img-responsive img-rounded" />
				</a>
				<div class="panel-body">
					<h2 style="margin: 0">{trickcategories.NAME}</h2>
					<p>{trickcategories.DESCRIPTION}</p>
				</div>
				<div class="panel-footer">
					Zu den <a href="{trickcategories.URL}">{trickcategories.NAME}-Tricks »</a>
				</div>
			</div>
		</div>
	<!-- IF trickcategories.NUMBER % 3 == 2 || trickcategories.IS_LAST -->
	</div>
	<!-- ENDIF -->
<!-- END trickcategories -->
</div>

<!-- INCLUDE footer.html -->
