<!-- INCLUDE header.html -->

<div class="container">
<!-- IF CURRENT_PAGE == 1 -->
	<div class="row">
		<div class="col-md-7" style="padding-left:30px;">
			<h2>Videos</h2>
			<p>
				Hier findest du eine Sammlung von Penspinning Videos.
			</p>
		</div>
	</div>
<!-- ENDIF -->
<div class="row">
<div class="text-right">{TOTAL_VIDEOS}</div>
<ul class="pagination pull-right">
	<!-- BEGIN pages -->
	<li<!-- IF pages.ACTIVE --> class="active"<!-- ENDIF -->>
		<a href="{pages.URL}">{pages.TEXT}</a>
	</li>
	<!-- END pages -->
</ul>
</div>

<!-- BEGIN videos -->
	<!-- IF videos.INDEX % 3 == 0 -->
	<div class="row">
	<!-- ENDIF -->
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h2 class="panel-title">{videos.TOPIC_TITLE}</h2>
				</div>
				<!-- IF videos.S_RH_VIDEOS_ERROR -->
				{videos.ERROR_MSG}
				<!-- ELSE -->
				<a href="{videos.TOPIC_URL}" class="thumbnail">
					<img src="{videos.THUMBNAIL_URL}" alt="{videos.TOPIC_TITLE}" >
				</a>
				<!-- ENDIF -->
			</div>
		</div>
	<!-- IF videos.INDEX % 3 == 2 || videos.IS_LAST -->
	</div>
	<!-- ENDIF -->
<!-- END videos -->
<div class="row">
<div class="text-right">{TOTAL_VIDEOS}</div>
<ul class="pagination pull-right">
	<!-- BEGIN pages -->
	<li<!-- IF pages.ACTIVE --> class="active"<!-- ENDIF -->>
		<a href="{pages.URL}">{pages.TEXT}</a>
	</li>
	<!-- END pages -->
</ul>
</div>
</div>

<!-- INCLUDE footer.html -->
