<!-- INCLUDE header.html -->

<div class="container">
<!-- IF CURRENT_PAGE == 1 -->
	<div class="row">
		<div class="col-md-1" style="padding-left:30px;"></div>
		<div class="col-md-5">
			<h2>Videos</h2>
			<p>Hier findest Du eine Sammlung von Penspinning Videos. Darunter sind auch die Collaboration-Videos der GPC, die in gemeinsamer Arbeit in der Community entstanden sind. Um nach Videos zu suchen, benutze bitte die <a href="community/search.php">Foren-Suchfunktion</a>.</p>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default pen_families">
				<div class="panel-heading text-center">
					<h2 class="panel-title">Featured: GPC's 2nd Collaboration Video</h2>
				</div>
				<a href="./community/viewtopic.php?f=2&amp;t=60">
					<img src="https://i.ytimg.com/vi/yaeKRnwP7_I/hqdefault.jpg" alt="GPC's 2nd Collaboration Video" class="img-responsive img-rounded">
				</a>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
<!-- ENDIF -->
<div class="row">
<div class="text-right">{TOTAL_VIDEOS}</div>
<ul class="pagination pull-right">
	<!-- BEGIN pages -->
	<li<!-- IF pages.ACTIVE --> class="active"<!-- ENDIF -->>
		<a href="{pages.URL}">{pages.TEXT}</a>
	</li>
	<!-- END pages -->
</ul>
</div>

<!-- BEGIN videos -->
	<!-- IF videos.INDEX % 3 == 0 -->
	<div class="row">
	<!-- ENDIF -->
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h2 class="panel-title">{videos.TOPIC_TITLE}</h2>
				</div>
				<a href="{videos.TOPIC_URL}">
					<img src="{videos.THUMBNAIL_URL}" alt="{videos.TOPIC_TITLE}" class="img-responsive img-rounded" style="width:100%">
				</a>
			</div>
		</div>
	<!-- IF videos.INDEX % 3 == 2 || videos.IS_LAST -->
	</div>
	<!-- ENDIF -->
<!-- END videos -->
<div class="row">
<div class="text-right">{TOTAL_VIDEOS}</div>
<ul class="pagination pull-right">
	<!-- BEGIN pages -->
	<li<!-- IF pages.ACTIVE --> class="active"<!-- ENDIF -->>
		<a href="{pages.URL}">{pages.TEXT}</a>
	</li>
	<!-- END pages -->
</ul>
</div>
</div>

<!-- INCLUDE footer.html -->
