<p>
	Um die <a href="{U_SERVER_COSTS}">Serverkosten</a> zu decken, sind wir auf Werbung und Trinkgelder angewiesen. &Uuml;ber den Button kannst Du uns ein Trinkgeld zukommen lassen, dessen Verwendung <a href="{U_SERVER_COSTS}">hier</a> dokumentiert wird. Alternativ kannst Du Deinen AdBlocker f&uuml;r diese Website ausschalten. Vielen Dank f&uuml;r die Unterst&uuml;tzung!
</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="business" value="robert@penspinning.de">
	<input type="hidden" name="lc" value="DE">
	<input type="hidden" name="item_name" value="Server Penspinning.de">
	<input type="hidden" name="no_note" value="0">
	<input type="hidden" name="cn" value="Message">
	<input type="hidden" name="no_shipping" value="1">
	<input type="hidden" name="rm" value="1">
	<input type="hidden" name="return" value="http://penspinning.de">
	<input type="hidden" name="cancel_return" value="http://penspinning.de">
	<input type="hidden" name="currency_code" value="EUR">
	<button class="btn btn-info" role="button">Trinkgeld f&uuml;r die Serverkosten &raquo;</button>
</form>
