<p>
	Schalte deinen Werbeblocker für diese Website aus oder gib uns ein Trinkgeld, um 
	die Serverkosten zu decken.<br/>
	<a target="_blank" href="{U_SERVER_COSTS}">&rArr; Mehr Informationen</a>
</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="business" value="robert@penspinning.de">
	<input type="hidden" name="lc" value="DE">
	<input type="hidden" name="item_name" value="Server Penspinning.de">
	<input type="hidden" name="no_note" value="0">
	<input type="hidden" name="cn" value="Message">
	<input type="hidden" name="no_shipping" value="1">
	<input type="hidden" name="rm" value="1">
	<input type="hidden" name="return" value="http://penspinning.de">
	<input type="hidden" name="cancel_return" value="http://penspinning.de">
	<input type="hidden" name="currency_code" value="EUR">
	<button class="btn btn-info" role="button">Trinkgeld f&uuml;r die Serverkosten &raquo;</button>
</form>
